/* CSS Document */

/*==============
1)Printer-Friendly View
(This is the style sheet that is applied at all times, not the one that is applied only when printing)
=================*/

.printer-friendly-location-name h3 { margin-top: 50px; padding-bottom: 7px; border-bottom: 1px solid #c5c5c5; margin-bottom: 20px; font-size: 16px; }

.printer-friendly-link-to-top { font-size: 16px; margin-top: -5px; }

.printer-friendly-lesson-title { display: none; }

.main-paragraph-text {margin-bottom: 20px;}

